@model AdSystem.MVC.ViewModels.AdsCreateViewModel

@{
    ViewBag.Title = "فرم ثبت آگهی";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Ads", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true,null, new { @class = "text-danger"})


    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @*@Html.DropDownListFor(x => x.CategoryId, (SelectList)ViewBag.CategoryLookupList,
                new { @class = "form-control" })*@
            @Html.DropDownListFor(x => x.CategoryId, null,
                new { @class = "form-control" })

            @Html.ValidationMessageFor(x => x.CategoryId, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.Label("Title","عنوان", new { @class = "control-label col-sm-2" })*@
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "عنوان" })
            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Area, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Area, new { @class = "form-control",
                placeholder = "مساحت", type = "number" })
            @Html.ValidationMessageFor(x => x.Area, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Age, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Age, new
            {
               @class = "form-control",
               placeholder = "سن بنا",
               type = "number"
            })
            @Html.ValidationMessageFor(x => x.Age, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PricePerUnit, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.PricePerUnit, new
       {
           @class = "form-control",
           placeholder = "قیمت هر متر مربع",
           type = "number"
       })
            @Html.ValidationMessageFor(x => x.PricePerUnit, null, new { @class = "text-danger" })
        </div>    
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ThumbnailFile, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.ThumbnailFile, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ThumbnailFile, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.MediaFile1, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.MediaFile1, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.MediaFile1, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.MediaFile2, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.MediaFile2, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.MediaFile2, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.MediaFile3, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.MediaFile3, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.MediaFile3, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success pull-left" type="submit">
            ذخیره
        </button>
    </div>
}